@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*===========================================================================*/
/*                                                                           */
/* createBook.css                                                            */
/*                                                                           */
/*===========================================================================*/

/* BOOTSTRAP classes used:
  .table
  .table-hover
  .table-responsive
  .table-bordered
  .form-control
*/
/*===========================================================================*/
/*                                                                           */
/* DIV REBUILD                                                               */
/*                                                                           */
/*===========================================================================*/
[id*='headContainer']{
    width: 100%;
    border-top: 1px #ccc;
    border-bottom: 0px;
    border-left: 1px #ccc;
    border-right: 1px #ccc;
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

[id*='container']{
    width: 100%;
    border-top: 1px #ccc;
    border-left: 1px #ccc;
    border-bottom: 0px;
    border-right: 1px #ccc;
    border-style: solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

[id*='subcontainer']{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: none;
}

[id*='subSubcontainer']{
    width: 100%;
    height: auto;
    display: block;
}


[id*='headLabel']{
    width: 100%;
    height: auto;
    flex: none;
}

[id*='label']{
    width: 35%;
}


[id*='input']{
    width: 65%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#containerTitle{
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

/* ------------------------------------------------------------------------- */
/* author containers                                                         */
/* ------------------------------------------------------------------------- */
/* [class*='headContainer']{
    width: 100%;
    border-top: 1px #ccc;
    border-bottom: 0px;
    border-left: 1px #ccc;
    border-right: 1px #ccc;
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

[class*='container']{
    width: 100%;
    border-top: 1px #ccc;
    border-left: 1px #ccc;
    border-bottom: 0px;
    border-right: 1px #ccc;
    border-style: solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

[class*='subcontainer']{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: none;
}

[class*='subSubcontainer']{
    width: 100%;
    height: auto;
    display: block;
}


[class*='headLabel']{
    width: 100%;
    height: auto;
    flex: none;
}
*/
[class*='label']{
    width: 35%;
}


[class*='input']{
    width: 65%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
} 

/* ------------------------------------------------------------------------- */
/* class version of author elements                                          */
/* ------------------------------------------------------------------------- */
.headContainerAuthor{
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
    margin-top: 16px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.headLabelAuthor{
    width: 100%;
    height: auto;
    flex: none;
}

.containerAuthor{
    flex-direction: column;
    border: none;
    width: 100%;
    border-radius: 4px;
    display: flex;
    padding: 8px 10px 8px 10px;
}

.subcontainerAuthor{
    padding: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 4px;
}

.subcontainerAuthorExtra{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 10px 8px 10px;
}

.subSubcontainerAuthorLast{
    margin-right: 10px;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ccc;
    flex-direction: row;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
}

.subSubcontainerAuthorFirst{
    margin-right: 10px;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ccc;
    flex-direction: row;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
    margin-left: 10px;
}



.subSubcontainerMiddle01{
    width: 33%;
    border: none;
    height: auto;
    display: block;
    flex-direction: row;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
}
.subSubcontainerMiddle02{
    width: 33%;
    border: none;
    height: auto;
    display: block;
    flex-direction: row;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
}
.subSubcontainerSuffix{
    width: 34%;
    border: none;
    height: auto;
    display: block;
    flex-direction: row;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
}

#subcontainerAddAnotherAuthor{
    width: 100%;
    display: block;
    padding: 0px;
    margin-top: 12px;
}

#subcontainerRemoveAddedAuthor{
    width: 100%;
    display: block;
    padding: 0px;
    margin-top: 12px;
}

#btnAddAnotherAuthor{
    width: 48px;
    background-color: transparent;
    height: 48px;
    border: 2px solid transparent;
    color: darkgray;
    border-radius: 24px;
    float: right!important;
    margin-bottom: 24px;
    border-color: #ccc;
    
}
#btnAddAnotherAuthor:hover{
    color: white;
    background-color: #888;
    border-color: #000;
}

#btnRemoveAddedAuthor{
    width: 48px;
    background-color: lightcoral;
    height: 48px;
    border: 2px solid transparent;
    color: white;
    border-radius: 24px;
    float: right!important;
    margin-bottom: 24px;
    border-color: #ccc;
    margin-right: 10px;
    
}
#btnRemoveAddedAuthor:hover{
    color: white;
    background-color: crimson;
    border-color: #000;
}


#containerSubject{
    flex-direction: column;
}

#subcontainerSubject{
    flex-direction: column;
    width: 65%;
    padding: 0px;
}

#subject-input{
    width: 100%;
}

#reading-box{
    margin-left: 18px;
}

#containerPageCount{
    border: none;
}

#PageCount{
    width: 65%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#containerISBN{
    border-bottom: 1px solid #ccc;
}

#headContainerRatingSubject{
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

#containerRating{
    flex-direction: column;
}

#containerComments{}

#headContainerEtAlAndComments{
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-align: left;
    cursor: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

#containerEtAl{
    flex-direction: column;
}

#headContainerStartReading{
    display: flex;
    flex-direction: row;
    border-right: 1px solid #ccc;
}

#containerReadingCheckBox{
    margin-top: 16px;
    padding: 16px 0px 16px 9px;
    border-radius: 4px 4px 0px 0px
}

#containerProgressPlaceholder{
    border: none;
}

#containerReadingAndProgress{
    flex-direction: column;
    width: 50%;
    border-top: none;
    border-left: 1px solid #ccc;
    border-right: none;
    border-radius: 0px;;
}

#containerProgress{
    display: none;
    border: none;
}

#progress-placeholder{
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #aaa;
    width: 65%;
    padding: 6px 12px;
    border-radius: 4px;
    font-style: italic;
}

#labelProgressPlaceholder{
    color: #aaa;
    font-style: italic;
}


#containerEtAl{
    width: 100%;
}

#containerProgressBar{
    flex-direction: column;
    border-top: none;
    border-right: 1px solid #ccc;
    border-left: none;
    border-radius: 0px;
    padding-right: 20px;
}

#advancedToggle{
    width: 100%;
    height: auto;
    margin-top: 16px;
    background-color: antiquewhite;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    cursor: pointer;
}

#advancedToggle:Hover{
    background-color: #e3d5b8;
}


/* PRogress BAR              */
/* --------------------------*/
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
     margin-top: 10px;
    width: 100%;
    height: 25px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progress-bar-label[data-value]{
    position: relative;
}

.progress-bar-label[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    margin-top: 4px;
    right: 10%;
    /* margin-left: 0px; */
    color: black;
}

.progress-pageCount-container{
    margin-left: 0px;
    display: flex;
}

#labelReading{
    margin-left: 10px;
}

#pageCount-zero-label{
    width: 50%;
}

#pageCount-label{
    width: 50%;
    text-align: right;
}

/* ----------------------------------------------------------*/
/* Notification                                              */
/* ----------------------------------------------------------*/
#notification{
    width: 100%;
    height: auto;
    display: none;
}


/*===========================================================================*/
/*                                                                           */
/* OLD CSS                                                                   */
/*                                                                           */
/*===========================================================================*/

#progress{
    display: none;
}
#progress-placeholder i{
    display: block;
    color: #bbb;
}

.collapsible {
    background-color: #dcc;
    color: darkslategray;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    display: block;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
}

/* tag container */
.linne-container{
    width: 100%;
    margin: 0px;
}

.linne-tag-container{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

.linne-tag-container .tag{
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #ddf;
    cursor: default;
}
.tag i{
    font-size: 16px;
    margin-left: 5px;
}
.linne-tag-container input{
    flex: 1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 0;
}

#button-row{
    height: 72px;
    border-style: solid hidden;
}
#button-cell{
    border-style: inherit;
    position: relative;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

/* REMOVE, DELETE
.reading-content{
    background-color: #fee;
    padding: inherit;
    width: inherit;
    text-indent: 20px;
}
*/

/* OVERRIDE OF BOOTSTRAP STYLE DEFINITIONS */
.linne-btn {
 display: block;
    padding: 16px;
    width: 100%;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: hidden;
    text-align: right;
}
.linne-btn-submit {
    color: #fff;
    background-color: #337ab7;
}

.active, .linne-btn-submit:hover {
  background-color: #115595;
}

.advanced{
    text-align: left;
}
/*---------------------------------------------------------------------------*/
/* Additions for bootstrap                                                   */
/*---------------------------------------------------------------------------*/
/* some changes in bootstrap modal */
.modal-body {
    padding: 20px 20px 0px 20px !important;
    text-align: center !important;
}                                                                                                                                                           .modal-footer{
    text-align: center !important;
}

.active, .collapsible:hover {
  background-color: #cbb;
}

.advanced-content {
    background-color: #edd;
    padding: 0 5px 5px;
    width: 100%;
    display: none;
    overflow: hidden;
    position: relative;
    border-radius: 0px 0px 10px 10px;
}


.button-div{
    padding: 10px;
    border-style: hidden solid solid;
    border-radius: 0px 0px 10px 10px;
    border-color: #fff;
}
#shown-content {
    padding: 10px;
    border-style: hidden solid solid;
    border-radius: 0px 0px 10px 10px;
    border-color: #fff;
}


.left-margin{       
    margin:0 .5em 0 0;
}
.right-button-margin{
    margin: 0 0 1em 0;
    overflow: hidden;
}

/* all */
::-webkit-input-placeholder { color:#aaa; font-style: italic; }
::-moz-placeholder { color:#aaa; font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { color:#aaa; font-style: italic; } /* ie */
input:-moz-placeholder { color:#aaa; font-style: italic; }




/*---------------------------------------------------------------------------*/
/* For non-selectable areas, give it a class of 'noselect'                   */
/*---------------------------------------------------------------------------*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* COMMENTED OUT AS IT INTERFERES WITH THE BOOTSTRAP STYLES ABOVE
button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: black;
    margin: 20px;
    cursor: pointer;
}
*/
    
    /* This may need to be removed if it screws up layout */
* {
  box-sizing: border-box;
}
/*Date:
                            <input type="date" name="date" value="<?= date('Y-m-d', time()); ?>" /><br> -->*/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

table.greyGridTable {
  border: 2px solid gray;
  width: 80%;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid gray;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
}

table.greyGridTable tfoot {
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    overflow-y: scroll;
}

#sidebar, #content{
    height: 100%;
    overflow: auto;
}

#content{
    background: rgba(245,245,245,1);
    width: 80%;
    float: right;
}

#contentMargin{
    position: relative;
    left:2%;
}

#sidebar{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /*background: rgba(255,184,125,1);*/
    background: #E3965B; /*rgba(28,195,188,1);*/
    width: 20%;
    box-shadow: 2px, 0, 4px, rgba(0,0,0,0.5);
    transition: width .35s;
}
#sidebarMargin{
    position: absolute;
    left: 5%;
}

#closer{
    float:right;
}   

#appTitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    text-align: left;
    color: #383313;
}
h3{
    text-align: center;
    color:#383313;
    font-family: sans-serif;
}

input[type=checkbox]{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin: 4px 6px 0;
}